<div class="container desk">
  <div class="row clearfix">
    <div class="col-md-3 column">
      <h1 class="story_title"><%= current_user.email %></h1>
      Stories Created: <%= current_user.total_stories %>
      <br>
      Lines written: <%= current_user.total_lines  %>
      <br>
      _________________________
      <br>
      <%= link_to "Create New Story", new_story_path, class: 'link_format'%>
      <br>
      <%= link_to "All Stories", stories_path, class: 'link_format'%>
      <br>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'link_format' %>
    </div>
    <div class="col-md-9 column">
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Story Title</th>
          </tr>
        </thead>
        <tbody>
          <% @stories.each do |story| %>
          <tr>
            <td class="title_text"><%="#{story.title}"%></td>
            <td><%= link_to "Show Story", story_path(story.id), class: 'btn btn-default'%></td>
            <td><%= link_to new_story_line_path(story.id), class: 'btn btn-black' do %>
            <i class="glyphicon glyphicon-pencil"></i> Add to Story
            <%end%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


